@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip:text;
  transition: color 0.3s linear;
}
#insta:hover{
  animation: fade-in 0.3s linear;
  color:rgba(0,0,0,0);
}

#tumblr {
  height: 48px;
  width: 48px;
}

#tumblr img {
  mask-image: url("../public/icons/icons8-tumblr.png");
  transition: filter 0.3s linear;
}

#tumblr::before {
  background-color: #395976;
  mask-image: url("../public/icons/icons8-tumblr.png");
  content: "";
  height: 48px;
  width: 48px;
  position: absolute;
}

#tumblr img:hover {
  filter: opacity(0);
}

#bluesky {
  width: 64px;
  height: 57px;
  transform: scale(0.6)
}

#bluesky img {
  /* background-image: linear-gradient(to top,#59B9FF, #0A7AFF); */
  mask-image: url('../public/icons/bluesky.png');
  transition: filter 0.3s linear;
  
}

#bluesky::before {
  background-image: linear-gradient(to top,#59B9FF, #0A7AFF);
  mask-image: url('../public/icons/bluesky.png');
  content: "";
  height: 57px;
  width: 64px;
  position: absolute;
  bottom: 0px;
}

#bluesky img:hover {
  filter: opacity(0)
}

.denied {
  pointer-events: none;
}

.jellybg {
  background-image: url('../public/images/original/jelly_banner.jpg')
}

.plaque-bg::before {
  content: "";
  background-image: url('../public/images/ironpattern.png');
  background-repeat: repeat;
  background-size: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

@keyframes fade-in { 
  0%{color:rgba(82, 82, 82,1);}
  100%{color:rgba(0,0,0,0);}
}

@-webkit-keyframes fade-in { 
  0%{color:rgba(82, 82, 82,1);}
  100%{color:rgba(0,0,0,0);}
}