@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}


#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip:text;
  transition: color 0.3s linear;
}
#insta:hover{
  animation: fade-in 0.3s linear;
  color:rgba(0,0,0,0);
}

#tumblr {
  transition: filter 0.3s linear;
}

#tumblr:hover {
  filter: invert(11%) sepia(96%) saturate(4902%) hue-rotate(199deg) brightness(85%) contrast(109%);
}

#bluesky {
  transition: filter 0.3s linear;
}

#bluesky:hover {
  filter: invert(48%) sepia(68%) saturate(2626%) hue-rotate(170deg) brightness(103%) contrast(105%);
}

.denied {
  pointer-events: none;
}

@keyframes fade-in { 
  0%{color:rgba(82, 82, 82,1);}
  100%{color:rgba(0,0,0,0);}
}

@-webkit-keyframes fade-in { 
  0%{color:rgba(82, 82, 82,1);}
  100%{color:rgba(0,0,0,0);}
}